@media screen and (min-width: 320px) and (max-width: 450px) {
	.modal-dialog {
    	max-width: 500px;
    	margin: 1.75rem auto;
  	}

  	.modal-dialog-centered {
    	min-height: calc(100% - (1.75rem * 2));
  	}

	.modal-sm {
    	max-width: 300px;
  	}

	h1 {
		font-size: 1.2em;
		margin-bottom: 0;
		margin-top: 0;
	}

	.deck .card.show,
	.deck .card.match {
		font-size: 1.2em;
	}

	.stars,
	.moves,
	.timer,
	.fa-redo {
		font-size: 0.8em;
	}

	.score-panel {
		margin-bottom: 10px;
	}

}

@media screen and (min-width: 451px) and (max-width: 568px) {
	.modal-dialog {
    	max-width: 500px;
    	margin: 1.75rem auto;
  	}

  	.modal-dialog-centered {
   		min-height: calc(100% - (1.75rem * 2));
  	}

	.modal-sm {
    	max-width: 300px;
  	}

	h1 {
		font-size: 1.5em;
		margin-bottom: 0;
		margin-top: 0;
	}

	.deck .card.show,
	.deck .card.match {
		font-size: 1.2em;
	}

	.stars,
	.moves,
	.timer,
	.fa-redo {
		font-size: 0.8em;
	}

	.score-panel {
		width: 70%;
	}
}

@media screen and (min-width: 569px) and (max-width: 599px) {
	.modal-dialog {
    	max-width: 500px;
    	margin: 1.75rem auto;
 	 }

  	.modal-dialog-centered {
    	min-height: calc(100% - (1.75rem * 2));
  	}

	.modal-sm {
    	max-width: 300px;
  	}

	h1 {
		font-size: 1.5em;
		margin: 5px 0;
	}

	.score-panel {
		margin-bottom: 5px;
	}

	.stars,
	.moves,
	.timer,
	.fa-redo {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 600px) and (max-width: 640px) {
	.modal-dialog {
    	max-width: 500px;
    	margin: 1.75rem auto;
  	}
  	.modal-dialog-centered {
    	min-height: calc(100% - (1.75rem * 2));
  	}

	.modal-sm {
    	max-width: 300px;
  	}

	h1 {
		font-size: 1.7em;
		margin: 5px 0;
	}

	.stars,
	.moves,
	.timer,
	.fa-redo {
		font-size: 0.8em;
	}

	.deck .card.show,
	.deck .card.match {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 641px) and (max-width: 767px) {
	.modal-dialog {
   		max-width: 500px;
    	margin: 1.75rem auto;
  	}

  	.modal-dialog-centered {
    	min-height: calc(100% - (1.75rem * 2));
  	}

	.modal-sm {
    	max-width: 300px;
  	}

	h1 {
		font-size: 1.7em;
		margin: 5px 0;
	}

	.stars,
	.moves,
	.timer,
	.fa-redo {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 768px) {
	.modal-dialog {
    	max-width: 500px;
    	margin: 1.75rem auto;
 	 }
  	.modal-dialog-centered {
    	min-height: calc(100% - (1.75rem * 2));
  	}

	.modal-sm {
    	max-width: 300px;
  	}

	h1 {
		font-size: 2em;
		margin: 5px 0;
	}

	.stars,
	.moves,
	.timer,
	.fa-redo {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 900px) {
	.modal-dialog {
    	max-width: 500px;
    	margin: 1.75rem auto;
  	}

  	.modal-dialog-centered {
    	min-height: calc(100% - (1.75rem * 2));
  	}

	.modal-sm {
    	max-width: 300px;
  	}

	header {
		width: 900px;
	}

	h1 {
		font-size: 2em;
		margin-bottom: 20px;
	}

	.score-panel {
		width: 800px;
		margin: 0 auto 10px;
	}
	.deck {
		width: 900px;
	}
}
